<!--The content below is only a placeholder and can be replaced.-->
<app-search></app-search>

<div style="text-align:center">
  <h1>
    Welcome to {{title}}!

  </h1>




<table>
  <thead>
    <th>Character Name </th>  
    <th>Character Image</th>
  </thead>
  <tbody>
    <!-- loop over each character and display each one -->
    <tr *ngFor="let character of characters"> 
      <!-- display character name -->
      <td>{{character.name}}</td>
      <!-- display character image -->
      <td><img [src]="character.thumbnail.path + '.' + character.thumbnail.extension"></td>
    </tr>
  </tbody>
</table>

