<!-- insert Bootstrap navbar template code here -->

<form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <!-- [(ngModel)] is part of FormsModule (that's why you had to bring FormsModule into your import statement on app.module.ts file). [(ngModel)] is the standard sytanx for all 2-way data binding -->
      <input name="search" type="text" [(ngModel)]="searchTerm" placeholder="Search Characters">
    </div>
    <!-- when I click the button, I want it to perform a search, create performSearch in ts file  -->
    <button type="submit" class="btn btn-default" (click)="performSearch(searchTerm)">Search</button>
  </form>